{% extends 'base.html.twig' %}

{% block title %}Hello BrandNewController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h2>Hello</h2>
			{{ sampleText }}!
		<div>
		<h2>Analyzed Text</h2>
			{{ analyzedText }}
		</div>
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/Users/rgoodine/studies/symfony/git-repos/symfony-poc-ibm-watson/src/Controller/BrandNewController.php'|file_link(0) }}">src/Controller/BrandNewController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/Users/rgoodine/studies/symfony/git-repos/symfony-poc-ibm-watson/templates/brand_new/index.html.twig'|file_link(0) }}">templates/brand_new/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
